<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.3pillarglobal.mvvmsingleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application using MVVM Architecture. It provides a template with inbuilt model, viewmodel, view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Utility/Constant.swift</string>
						<string>Manager/HttpService.swift</string>
						<string>Controller/RepoListViewController.swift</string>
						<string>View/RepoItemViewCell.swift</string>
						<string>View/Main.storyboard</string>
						<string>Model/RepositoryModel.swift</string>
						<string>ViewModel/RepositoryViewModel.swift</string>
						<string>ViewModel/RepositoryListViewModel.swift</string>
						<string>../Podfile</string>
						<string>../___PROJECTNAME___Tests/RepoList/Model/RepositoryModelTest.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>AppDelegate</string>
			</array>
		</dict>
		<key>Utility/Constant.swift</key>
		<dict>
			<key>Path</key>
			<string>Utility/Constant.swift</string>
			<key>Group</key>
			<array>
				<string>Utility</string>
			</array>
		</dict>
		<key>Manager/HttpService.swift</key>
		<dict>
			<key>Path</key>
			<string>Manager/HttpService.swift</string>
			<key>Group</key>
			<array>
				<string>Manager</string>
			</array>
		</dict>
		<key>Controller/RepoListViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>Controller/RepoListViewController.swift</string>
			<key>Group</key>
			<array>
				<string>Controller</string>
			</array>
		</dict>
		<key>View/RepoItemViewCell.swift</key>
		<dict>
			<key>Path</key>
			<string>View/RepoItemViewCell.swift</string>
			<key>Group</key>
			<array>
				<string>View</string>
			</array>
		</dict>
		<key>View/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>View/Main.storyboard</string>
			<key>Group</key>
			<array>
				<string>View</string>
			</array>
		</dict>
		<key>Model/RepositoryModel.swift</key>
		<dict>
			<key>Path</key>
			<string>Model/RepositoryModel.swift</string>
			<key>Group</key>
			<array>
				<string>Model</string>
			</array>
		</dict>
		<key>ViewModel/RepositoryViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>ViewModel/RepositoryViewModel.swift</string>
			<key>Group</key>
			<array>
				<string>ViewModel</string>
			</array>
		</dict>
		<key>ViewModel/RepositoryListViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>ViewModel/RepositoryListViewModel.swift</string>
			<key>Group</key>
			<array>
				<string>ViewModel</string>
			</array>
		</dict>
		<!--
		//___PROJECTNAME___
		-->
		<key>../Podfile</key>
		<dict>
		  <key>TargetIndices</key>
		  <array/>
		  <key>Path</key>
		  <string>Podfile</string>
		</dict>
		<key>../___PROJECTNAME___Tests/RepoList/Model/RepositoryModelTest.swift</key>
		<dict>
			<key>Path</key>
			<string>RepoList/Model/RepositoryModelTest.swift</string>
			<key>Group</key>
			<array>
				<string>RepoList</string>
				<string>Model</string>
			</array>
			<key>TargetIndices</key>
			<array>
				<string>___PROJECTNAME___Tests</string>
			</array>
		</dict>
	</dict>
	<key>Template Author</key>
	<string>Devdutt Jangir @devdutt.jangir@3pillarglobal.coms</string>
</dict>
</plist>
